.header__link {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-top: 6px;
  padding-right: 30px;
  grid-row: 2/3;
  justify-self: end;
}

@media screen and (min-width: 914px) {
  .header__link {
    font-size: 18px;
    line-height: 22px;
    padding-right: 0;
  }
}  