.popup__title_type_register {
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto 50px auto;
}

@media screen and (min-width: 619px) {
  .popup__title_type_register {
    text-align: center;
    margin: 0 auto 60px auto;
  }
}